.inputContainer {
    margin-bottom:20px;
}

.inputContainer input{
    display:block;
    width: 100%;
    padding:0;
    margin: 0;
    height: 3em;
    padding-left:30px;
    font-size: 14px;
}

.inputContainer label {
        font-weight:bold;
}