
.commentsContainer::-webkit-scrollbar{
    display:none;
}

.commentsContainer {
    width:100%;
    height:20em;
    overflow-y:scroll;
}

.commentsContainer li {
    margin-bottom: 10px;
    border: 1px solid var(--black);
    padding: 2px 4px;
}



@media screen and (max-width: 500px) {
    .commentsContainer {
        height: 10em;
    }
}